body{
  background-color: hsl(200, 34%, 29%);
  background-image: url(world.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
.navigation ul {
  margin: 0;
  padding: 20px;
  text-align: center;
  list-style: none;
}
.nagivation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px;
  color: hsl(170, 48%, 61%);
}
#banner {
  margin: auto;
  background-image: url(babyannouncement.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 350px;
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.center{
  display: flex;
  align-items: center;
  min-width: 100%;
}
#welcome{
  margin: auto; 
  padding: 10%;
  border: 3px solid hsl(170, 48%, 61%);
  text-align: center;
  color:	hsl(170, 48%, 61%);
}
.text{
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin: auto;
  width: 50%;
  color: hsl(170, 48%, 61%);
}
 .form{
   text-align: center;
   font-family: Helvetica, sans-serif;
   margin: auto;
   width: 50%;
   color: #20b2aa;
   border: 3px solid hsl(170, 48%, 61%);
 }
h1{
  color: hsl(170, 48%, 61%);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: 50%;
}
img {
  float: left;
  width:  250px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
}