body{
  background-color: hsl(200, 34%, 29%);
  background-image: url(world.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
  font-family: Helvetica, sans-serif;
  text-align: centered;
  float: right;
}
.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.nagivation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  color: hsl(170, 48%, 61%);
}
#banner {
  margin: auto;
  background-image: url(babyannouncement.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 350px;
  width: 50%;
}
#banner .content h1{
  position: relative;
  top: 250px;
  margin: auto;
  width: 400px; 
  padding: 20px;
  border: 3px solid hsl(170, 48%, 61%);
  text-align: center;
  color:	hsl(170, 48%, 61%);
}
.intro{
  text-align: center;
  margin: auto;
  width: 50%;
  color: hsl(170, 48%, 61%);
}
 .form{
   text-align: center;
   margin: 30px auto;
   width: 50%;
   color: #20b2aa;
   border: 3px solid hsl(170, 48%, 61%);
 }
 .page-title{
   color: hsl(170, 48%, 61%);
   text-align: center;
   margin: auto;
   width: 50%;
 }