body{
  background-color: #add8e6;
  font-family: 'raleway', sans-serif;
  text-align: centered;
  overflow: scroll;
}
.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.nagivation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  color: black;
}
#banner {
  margin: auto;
  background-image: url(babyannouncement.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 350px;
  width: 50%;
}
#banner .content h1{
  position: relative;
  top: 250px;
  margin: auto;
  width: 400px; 
  padding: 20px;
  border: 3px dashed white;
  text-align: center;
  color:	#00ffff;
}
.introduction{
  text-align: center;
  margin: auto;
  width: 50%;
  color: #20b2aa;
}
 .form{
   text-align: center;
   margin: 30px auto;
   width: 50%;
   color: #20b2aa;
   border: 3px solid #20b2aa;
 }
 .footer {
   background-image: url(world.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right;
   height: 300px;
   width: 25%;
   float: right; 
 }
 